<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener class-name="com.naveenautomation.listeners.CustomListener" />
		<listener class-name="com.naveenautomation.listeners.TransformerForRetry" />
		<listener class-name="com.naveenautomation.listeners.ExtentReportListener" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.naveenautomation.tests.AddressBookPageTest"/>
      <class name="com.naveenautomation.tests.ContactUsPageTest"/>
      <class name="com.naveenautomation.tests.DownloadsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
